<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>
</head>
<body>

    <%- include('../partials/navbar') %>

    <h1>Welcome Admin</h1>
    <div>
        <a href="/admin/subscriptions/new">
            <button>Add new subscriber</button>
        </a>
    </div>

    <br>
    <form action="/admin/subscriptions" method="GET">
        <input 
            type="text" 
            name="phone" 
            placeholder="Search subscriber by phone"
        />
        <button type="submit">Search</button>
    </form>

    <br>
    <div>
        <a href="/admin/dashboard">
            <button>Home</button>
        </a>
    </div>

</body>
</html>