<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Subscription</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css"
    />
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <%- include('../partials/navbar') %>

    <div class="container">

        <div class="card">

            <h1 class="text-center">Add a New Subscription</h1>
            <p class="desc-txt">Fill in the details to add a new subscription</p>


            <form action="/admin/subscriptions" method="POST">

                <label>User Number</label>
                <input type="text" name="phone" placeholder="Enter user phone number"required/>

                <label>Subscription Name</label>
                <input type="text" name="subscriptionName" placeholder="Example: TV Subscription" required/>

                <label>Subscription Package</label>
                <select name="packageDuration" required>
                    <option value="">Select package</option>
                    <option value="1 month">1 month</option>
                    <option value="3 months">3 months</option>
                    <option value="6 months">6 months</option>
                    <option value="12 months">12 months</option>
                </select>

                <label>Expiry Date</label>
                <input type="date" name="expiryDate" required />

                <label>Notes</label>
                <textarea name="notes" placeholder="Any notes about this subscription" rows="4"></textarea>

                <div class="button-center">
                    <button type="submit">Add</button>

                    <a href="/admin/dashboard">
                        <button type="button" class="button-outline">Home</button>
                    </a>
                </div>

            </form>

        </div>

    </div>

</body>
</html>
